<div class="container-fluid ps-md-0">
  <div class="row g-0 align-items-cente justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h1 class="login-heading mb-5">
                Welcome! <br />
                Login
              </h1>

              <!-- Sign In Form -->
              <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                    formControlName="email"
                  />
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Password"
                    formControlName="password"
                  />
                  <label for="floatingPassword">Password</label>
                </div>

                <div class="d-grid">
                  <button
                    class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                    input
                  >
                    Login
                  </button>
                  <div class="text-center">
                    <span class="small mt-1" href="#"
                      >Not a member yet?
                      <a routerLink="/signup"> Register here</a>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
